        body {
            background-image: url('https://static.monknow.com/newtab/user/1b620cfb-9c87-8c19-635c-3fb3cbf79006/wallpaper/2f22322d1705f7e072ea22f2c6b6562e.png');
            background-size: cover;
            margin: 0;
            font-family: Arial, sans-serif;
            background-position: center;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            align-items: center;
            background-repeat: no-repeat;
        }

        @media (max-width: 980px) {
            body {
                background-image: url('https://i3.wp.com/ipfs.chainsafe.io/ipfs/Qmf1yQzDsESGXKzDmDq6Erh9q5ULEPojsGitieAkwzHjk5');
                background-position: center;
                background-size: cover;
                margin: 0;
                font-family: Arial, sans-serif;
                width: 100vw;
                height: 100vh;
                overflow: auto;
                align-items: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
        }

        .icon-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
            gap: 15px;
            justify-items: center;
            margin: 20px auto;
            max-width: 1350px;
            padding: 0 10px;
        }

        .icon {
            width: 65px;
            height: 65px;
            border-radius: 9px;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            background-size: cover;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 50%;
            pointer-events: auto; /* 确保点击事件可通过 */
            z-index: 1; /* 确保图标在最前方可点击 */
        }

        .icon:hover {
            transform: scale(1.1);
        }

        .controls {
            text-align: center;
            margin: 20px;
            display: none;
        }

        .controls.visible {
            display: block;
        }

        .controls input, .controls button {
            margin: 5px;
            padding: 10px;
            font-size: 16px;
            box-sizing: border-box;
        }

        .controls input[type="text"] {
            width: 200px;
        }

        .controls input[type="color"] {
            width: 50px;
            height: 40px;
            border: none;
            padding: 0;
            cursor: pointer;
            vertical-align: middle;
        }

        .toggle-controls {
            position: fixed;
            bottom: 20px;
            left: 20px;
            padding: 10px 20px;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .toggle-controls:hover {
            background-color: rgba(0, 0, 0, 0.9);
        }

        .search-bar {
            display: flex;
            justify-content: center;
            margin: 50px;
        }
        .search-bar input {
            width: 600px;
            padding: 15px;
            font-size: 18px;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: background-color 0.3s, border-color 0.3s;
        }

        @media (max-width: 980px) {
            .search-bar input {
                width: 300px;
                padding: 15px;
                font-size: 18px;
                border: 1px solid #ccc;
                border-radius: 5px;
                transition: background-color 0.3s, border-color 0.3s;
            }
        }

        .search-bar input:focus {
            outline: none;
            background-color: rgba(0, 0, 0, 0.1);
            border-color: rgba(0, 0, 0, 0.3);
        }