        body {
            font-family: Arial, sans-serif;
            background-color: #e8e4d4;
            color: #333;
            max-width: 800px;
            margin: 20px auto;
            padding: 10px;
        }
        h1 {
            text-align: center;
            color: #7a7f85;
        }
        #story {
            display: none; /* 初始隐藏 */
            background-color: #f5f4f1;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px 20px 20px 20px;
            margin-bottom: 20px;
            line-height: 1.5;
            letter-spacing: 0.8px;
        }
        #choices {
            margin-top: 10px;
            text-align: center;
        }
        .choice {
            margin: 5px;
            padding: 10px 20px;
            font-size: 16px;
            color: #acaba3;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
            border: 1px solid #acaba3;
        }
        .choice:hover {
            background-color: #e8e4d4;
        }
        #nextButton {
            padding: 5px 15px;
            font-size: 16px;
            color: #8f7676;
            background-color: #e8e4d4;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-weight: bold;
            border: 1px solid #acaba3;
            display: none; /* 初始隐藏 */
        }
        #nextButton:hover{
            background-color: #bba668;
        }
        
        .button-container {
            margin: 20px 0;
            text-align: center;
        }
        
        .button-container input {
            width: 60%;
            padding: 11px;
            font-size: 16px;
            border: 2px solid #cbc09f;
            border-radius: 4px;
            outline: none;
            transition: border-color 0.3s;
        }
        .button-container button {
            padding: 10px 20px;
            font-size: 16px;
            color: #525151;
            background-color: #e8e4d4;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-weight: bold;
            border: 1px solid #acaba3;
        }
        
        .button-container button:hover {
            border: 1px solid #525151;
        }
        .min {
            max-height: 25px;
        }
        
        .showImg { cursor: zoom-in; }
        #bigImg { cursor: zoom-out; }
        
        .img-container {
            display: inline-block; /* 或者使用 flex */
            margin: 5px; /* 添加间距 */
        }